@use "../../Utils/bg_color.scss" as bg;
@use "../../Utils/flex_display.scss" as flex_control;
@use "../../Utils/link_style.scss" as link_style;


.settings_page {
    flex: 1 1 auto;

    @include flex_control.flex_column {
        // justify-content: center
    }

    ;

    h1 {
        text-transform: capitalize;
        font-size: 1.2em;
        margin: 5px;
    }
}

// account activation
.activate_account {
    margin: 5px;
    text-transform: capitalize;
    width: 100%;
    height: 12%;

    @include flex_control.flex_column {
        justify-content: space-between;
    }

    overflow: hidden;

    h3 {
        background-color: bg.$secondary_color;
        width: 35%;
        text-align: center;
        color: bg.$neutral_color;
        height: 40%;
        padding-top:6px;

    }

    .actions {
        height: 50%;
        width: 15%;

        border: 2px solid bg.$secondary_color;

        @include flex_control.flex_row {
            justify-content: space-between;
        }

        overflow: hidden;

        .act_btn {
            cursor: pointer;
            border: none;
            width: 50%;
            height: 100%;
            text-align: center;
            text-transform: capitalize;
            font-family: bold_font;

            &:hover {
                transform: scale(1.03);
            }

        }
    }

    #active_act_btn {
        background-color: bg.$primary_color;
        color: bg.$secondary_color
    }

    @media (max-width:700px) {

        h3 {
            width: 70%;
            font-size: .9em;
        }

        .actions {

            width: 35%;
        }
    }
}

// user image
.upload_user_image {

    width: 100%;
    margin: 5px;
    height: 20%;
    font-family: bold_font;
    text-transform: capitalize;

    @include flex_control.flex_column {
        justify-content: space-around;
    }

    h2 {
        width: 35%;
        padding: 5px 0;
        background-color: bg.$secondary_color;
        color: bg.$neutral_color;
        font-size: 1.2em;
        text-align: center;
    }

    input {
        width: 90%;
    }

    .upload {
        width: 25%;
        height: 30px;
        text-align: center;
        text-transform: capitalize;
        font-family: bold_font;
        margin-left: 3px;
        border: 0;
        border-radius: 3px;
        color: bg.$neutral_color;
        background-color: bg.$primary_color;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }
    }

    @media (max-width:700px) {
        height: 22%;

        h2 {
            width: 70%;
            font-size: .9em;
        }
    }
}

// account info
.update_account_info {
    width: 100%;
    height: 15%;

    margin: 5px;

    h3 {
        color: bg.$neutral_color;
        background-color: bg.$secondary_color;
        height: 30%;
        text-align: center;
        width: 35%;
        text-transform: capitalize;
    }

    .update_link {
        text-decoration: none;
        text-transform: capitalize;
        font-family: bold_font;
        height: 30%;
        width: 25%;

        margin: 5px 2px;
        border-radius: 3px;
        // display: block;
        color: bg.$secondary_color;
        background-color: bg.$primary_color;

        @include flex_control.flex_row {
            justify-content: space-around;
            align-items: center
        }

        ;

        &:hover {
            transform: scale(1.02);
        }

        .update_icon {
            transform: scale(1.2);
           
        }



    }
    @media (max-width:700px){
        h3{
            width:70%;
            height: 40%;
            padding-top: 6px;
        }
        .update_link{
            width:65%;
            height:45%;
        }
    }
}